.slider {
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 1536px;
}

.slider .slide-track {
	-webkit-animation: scroll 30s linear infinite;
	animation: scroll 25s linear infinite;
	display: flex;
	align-items: center;
	width: calc(calc(250px + 120px) * 12);
}

.slider .slide {
	height: 100px;
	width: 250px;
}

@-webkit-keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(calc(-250px - 120px) * 6));
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 6));
	}
}